* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

/* reset */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav .logo {
    padding: 16px 0;
    display: block;
}

.logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.logo-header-part {
    color: #2e2f42;
}

.nav-list,
.header-address {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.burger-btn:active {
    transform: rotate(-90deg);
}

.burger-icon {
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-nav .logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        position: relative;
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link:hover::after,
    .nav-link:focus::after,
    .nav-link.current::after {
        opacity: 1;
    }

    .header-address {
        display: block;
        font-style: normal;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #434455;
    }

    .nav-link:hover,
    .nav-link:focus,
    .address-link:hover,
    .address0link:focus,
    .nav-link.current {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-nav .logo {
        margin-right: 76px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }

    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}

/* mobile menu */

.mobile-menu {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu:not(.is-open) .mobile-menu-container {
    transform: translateX(100%);
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    border: none;
    background-color: #404bbf;
}

.mobile-menu-close:hover .mobile-menu-icon,
.mobile-menu-close:focus .mobile-menu-icon {
    fill: #ffffff;
}

.mob-nav {
    margin-bottom: auto;
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-menu-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-menu-list-link:hover,
.mob-menu-list-link:focus,
.mob-menu-list-link.current {
    color: #404bbf;
}

.mob-address {
    margin-bottom: 48px;
    font-style: normal;
}

.mob-address-link.current {
    color: #4d5ae5;
}

.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-link:hover,
.mob-address-link:focus {
    color: #4d5ae5;
}

.mob-social {
    display: flex;
    gap: 40px;
}

.mob-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-link:hover,
.mob-social-link:focus {
    background-color: #404BBF;
}

.mob-social-icon {
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* solutions */

.solutions {
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
}

@media (min-resolution: 2x) {
    .solutions {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office-mob@2x.jpg);
    }
}

.solutions-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 216px;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.solutions-bnt {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-bnt:hover,
.solutions-bnt:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .solutions {
        padding: 120px 0;
        background-image: linear-gradient(rgba(46,47,66,0.7), rgba(46, 47, 66, 0.7)), url(../images/office-tab.jpg);
        max-width: 768px;
    }

    @media (min-resolution: 2x) {
        .solutions {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office-tab@2x.jpg);
            }
    }

    .solutions-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .solutions {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office-desk.jpg);
    }

    @media (min-resolution: 2x) {
        .solutions {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office-desk@2x.jpg);
        }
    }

    .solutions-title {
        margin-bottom: 48px;
    }
}

/* features */

.features {
    padding: 96px 0;
}

.features-icon-container {
    display: none;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-list-item {
    width: 100%;
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .features-list {
        column-gap: 24px;
    }

    .features-title {
        text-align: start;
    }

    .features-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .features {
        padding: 120px 0;
    }

    .features-list {
        gap: 24px;
    }

    .features-list-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .features-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
        margin-bottom: 8px;
    }

    .features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-text {
        font-weight: 400;
    }
}

/* team */

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.team-list-item {
    width: 100%;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    border-radius: 0 0 4px 4px;
    max-width: 264px;
}

.container-name {
    padding: 32px 0;
}

.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.social-icon {
    fill: #F4F4FD;
}

@media screen  and (min-width: 768px) {
    .team-list {
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .team-list-item {
        width: calc((100% - 72px) / 4);
    }
}

/* portfolio */

.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

.portfolio-list-item {
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus,
.portfolio-list-item:hover .overlay {
    transform: translateY(0%);
}

.container-portfolio {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        row-gap: 72px;
        column-gap: 24px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
        max-width: 360px;
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-list-item:hover,
    .portfolio-list-item:focus,
    .portfolio-list-item:hover .overlay {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}


/* footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 72px;
}

.footer-logo {
    margin-bottom: 16px;
    align-self: center;
}

.logo-footer-part {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-socail {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: #F4F4FD;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.social-container {
    margin-bottom: 72px;
}

.subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.subscribe-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 40px;
    width: 288px;
    background-color: transparent;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0.3;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    opacity: 0.6;
}

.subscribe-input:focus {
    border: 1px solid #31d0aa;
    opacity: 1;
}

.subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    max-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        padding-left: 108px;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        margin-right: 24px;
        max-width: 264px;
    }

    .footer-logo {
        margin-bottom: 16px;
        align-self: self-start;
    }

    .footer-socail {
        text-align: start;
    }

    .subscribe {
        text-align: start;
    }

    .subscribe-form {
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    .subscribe-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer-container {
        align-items: baseline;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 0 15px;
    }

    .logo-container {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .social-container {
        margin-bottom: 0;
    }

    .subscribe-container {
        margin-left: auto;
    }

    .subscribe-form {
        gap: 24px;
    }
}

/* backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    padding: 72px 16px 24px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.close-bnt {
    padding: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-bnt:hover,
.close-bnt:focus {
    border: none;
    background-color: #404bbf;
}

.close-bnt:hover .close-icon,
.close-bnt:focus .close-icon {
    fill: #ffffff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.icon-container {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
    background-color: transparent;
    outline: transparent;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 11px 34px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-area {
    outline: transparent;
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-area::placeholder {
    color: #8e8f99;
}

.modal-area:focus,
.modal-input:focus {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
}

.modal-input:focus+.input-icon {
    fill: #4d5ae5;
}

.checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.checkbox-link {
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.checkbox {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked+.checkbox-label>.checkbox {
    background-color: #404bbf;
    border: none;
}

.visually-hidden:checked+.checkbox-label>.checkbox>.checkbox-icon {
    fill: #f4f4fd;
}

.checkbox-container {
    margin-bottom: 24px;
}

.send-bnt {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5; 
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-bnt:hover,
.send-bnt:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal {
        padding: 72px 24px 24px 24px;
        width: 408px;
        min-height: 584px;
    }

    .modal-input {
        padding-right: 38px;
        padding-left: 38px;
    }
}